alembic==1.18.4
asyncpg==0.31.0
bcrypt==4.3.0
fastapi==0.135.1
httpx==0.28.1
passlib==1.7.4
pydantic==2.12.5
PyJWT==2.12.1
pytest==9.0.3
python-dotenv==1.2.2
python-multipart==0.0.22
SQLAlchemy==2.0.48
uvicorn==0.42.0